body{
  background-image: url('./images/cartoon-nature-dreemy.jpg');
}
.App {
  display:flex;
  padding:30px;
  justify-content: center;
  background-image: none;
}

 .game{
    width:560px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    background-image: none;
  }
  .game img{
    width:70px;
    height:70px;
    background-color: lightblue;
    background-image: none;
    border:2px solid rgb(192, 193, 198);
  }
  

  @media only screen and (max-width: 655px) {
    body {
      background-color: lightblue;
    }

    /* .game{
      width:125px;
      height:125px;
    }

    .game img{
      width:35px;
      height:35px;
    } */
  }

  .navbar{
    background-color: #1363DF;
  }
  .fbg{
    background-color: #06283D;
  }

  